@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 82, 34, 141;
  --background-end-rgb: 255, 255, 255;
  --dark-foreground-rgb: 255, 255, 255;
  --dark-background-start-rgb: 50, 40, 61;
  --dark-background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  @mixin dark {
    color: rgb(var(--dark-foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--dark-background-end-rgb))
      )
      rgb(var(--dark-background-start-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
